name: CI

on: [push]

jobs:
  install_all:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v1
    - name: Setup helmfile
      uses: ./
    - name: Test
      run: |
        ls -l ~/bin
        kubectl version --client
        helm version
        helm plugin list
        helmfile --version

  install_only_helmfile:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v1
    - name: Setup helmfile
      uses: ./
      with:
        install-kubectl: no
        install-helm: no
    - name: Test
      run: |
        ls -l ~/bin
        helmfile --version
